@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import "variables";
@import "layout";
@import "navbar";
@import "button";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-size: 16px;
  background-color: $based-color;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
